<!--
                    <div class="row middle weddingdate" id="second-row">
                        <div class="col col-md-4 hidden-lg hidden-md">
                            <div class="event-frame">
                                <img src="images/home/event/frame2.svg" alt="Event Frame" class="event-img">
                                <img src="images/home/event/compressedimgs/img_2.jpg" data-progressive="images/home/event/img-2.jpg" alt="Event Picture" class="img-responsive progressive__img progressive--not-loaded">
                            </div>
                        </div>
                        <div class="event-block col col-md-8">
                            <h3>Wedding Ceremony</h3>
                            <p><span>
                        <svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="42 5 16 5 1 5 1 18 57 18 57 5" fill="#26B99A"/>
                        <circle cx="20" cy="9" r="2" fill="#38454F"/>
                        <circle cx="26" cy="9" r="2" fill="#38454F"/>
                        <circle cx="32" cy="9" r="2" fill="#38454F"/>
                        <circle cx="38" cy="9" r="2" fill="#38454F"/>
                        <path d="M38,0c-1.13,0-2.162,0.391-3,1.025c0.534,0.405,0.979,0.912,1.315,1.495C36.796,2.192,37.376,2,38,2  c1.654,0,3,1.346,3,3s-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5S40.757,0,38,0z" fill="#AFB6BB"/>
                        <path d="M33.685,2.52C33.261,3.254,33,4.093,33,5h2C35,3.97,34.478,3.061,33.685,2.52z" fill="#839594"/>
                        <path d="M27.685,2.52C27.261,3.254,27,4.093,27,5h2C29,3.97,28.478,3.061,27.685,2.52z" fill="#839594"/>
                        <path d="M36.315,2.52C35.979,1.937,35.534,1.43,35,1.025C34.162,0.391,33.13,0,32,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C30.796,2.192,31.376,2,32,2s1.204,0.192,1.685,0.52C34.478,3.061,35,3.97,35,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C37,4.093,36.739,3.254,36.315,2.52z" fill="#AFB6BB"/>
                        <path d="M21.685,2.52C21.261,3.254,21,4.093,21,5h2C23,3.97,22.478,3.061,21.685,2.52z" fill="#839594"/>
                        <path d="M30.315,2.52C29.979,1.937,29.534,1.43,29,1.025C28.162,0.391,27.13,0,26,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C24.796,2.192,25.376,2,26,2s1.204,0.192,1.685,0.52C28.478,3.061,29,3.97,29,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C31,4.093,30.739,3.254,30.315,2.52z" fill="#AFB6BB"/>
                        <path d="M24.315,2.52C23.979,1.937,23.534,1.43,23,1.025C22.162,0.391,21.13,0,20,0c-2.757,0-5,2.243-5,5h2  c0-1.654,1.346-3,3-3c0.624,0,1.204,0.192,1.685,0.52C22.478,3.061,23,3.97,23,5c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1  s0.447,1,1,1c2.757,0,5-2.243,5-5C25,4.093,24.739,3.254,24.315,2.52z" fill="#AFB6BB"/>
                        <rect x="1" y="18" width="56" height="40" fill="#EDEADA"/>
                        <circle cx="13" cy="29" r="5" fill="#CEC9AE"/>
                        <circle cx="29" cy="29" r="5" fill="#CEC9AE"/>
                        <circle cx="45" cy="29" r="5" fill="#CEC9AE"/>
                        <circle cx="13" cy="45" r="5" fill="#CEC9AE"/>
                        <circle cx="29" cy="45" r="5" fill="#CEC9AE"/>
                        <circle cx="45" cy="45" r="5" fill="#26B99A"/>
                        </svg>13 July 2016,</span> <span><svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="29" cy="29" r="29" fill="#E7ECED"/>
                        <path d="M29,4c13.785,0,25,11.215,25,25S42.785,54,29,54S4,42.785,4,29S15.215,4,29,4 M29,0  C12.984,0,0,12.984,0,29s12.984,29,29,29s29-12.984,29-29S45.016,0,29,0L29,0z" fill="#424A60"/>
                        <g fill="#7383BF"><path d="m29 5.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z"/><path d="m29 48.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z"/>
                            <path d="m51 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z"/>
                            <path d="m8 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z"/>
                            <path d="m43.849 12.615-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0z"/>
                            <path d="m13.444 43.021-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.024-0.39-1.414 0z"/>
                            <path d="m44.556 43.021c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z"/>
                            <path d="m14.151 12.615c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z"/></g>
                        <line x1="26" x2="18" y1="28.879" y2="28.879" fill="none" stroke="#424A60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                        <line x1="29" x2="29" y1="25.879" y2="14.879" fill="none" stroke="#424A60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                        <circle cx="29" cy="28.879" r="3" fill="none" stroke="#424A60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                        </svg>7pm - 12am, </span> <a class="location-pop-btn"><span class="animated flash infinite"><i class="fa fa-map-marker"></i></span ><span class="destination-address event-address" data-lat="18.528424" data-long="73.873865">Senate United-21, LBS Marg, Gokul Nagar, Opp. Majiwada Junction,  Thane - West</span></a></p>
                            <p class="textfont em1-2">The tulu groom and Bengali bride take sacred marriage vows in the company of their loving family and friends. Come join us as we say I do.</p>
                        </div>
                        <div class="col col-md-4 hidden-sm hidden-xs">
                            <div class="event-frame">
                                <img src="images/home/event/frame2.svg" alt="Event Frame" class="event-img">
                                  <img src="images/home/event/compressedimgs/img_2.jpg" data-progressive="images/home/event/img-2.jpg" alt="Event Picture" class="img-responsive progressive__img progressive--not-loaded">
                            </div>
                        </div>
                    </div>

                    <div class="row receptiondate" id="last-row">
                        <div class="col col-md-4">
                            <div class="event-frame">
                                <img src="images/home/event/frame2.svg" alt="Event Frame" class="event-img">
                                  <img src="images/home/event/compressedimgs/img_3.jpg" data-progressive="images/home/event/img-3.jpg" alt="Event Picture" class="img-responsive progressive__img progressive--not-loaded">
                            </div>
                        </div>
                        <div class="event-block event-padding col col-md-8">
                            <h3>The Reception</h3>
                            <p><span><svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="42 5 16 5 1 5 1 18 57 18 57 5" fill="#26B99A"/>
                        <circle cx="20" cy="9" r="2" fill="#38454F"/>
                        <circle cx="26" cy="9" r="2" fill="#38454F"/>
                        <circle cx="32" cy="9" r="2" fill="#38454F"/>
                        <circle cx="38" cy="9" r="2" fill="#38454F"/>
                        <path d="M38,0c-1.13,0-2.162,0.391-3,1.025c0.534,0.405,0.979,0.912,1.315,1.495C36.796,2.192,37.376,2,38,2  c1.654,0,3,1.346,3,3s-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5S40.757,0,38,0z" fill="#AFB6BB"/>
                        <path d="M33.685,2.52C33.261,3.254,33,4.093,33,5h2C35,3.97,34.478,3.061,33.685,2.52z" fill="#839594"/>
                        <path d="M27.685,2.52C27.261,3.254,27,4.093,27,5h2C29,3.97,28.478,3.061,27.685,2.52z" fill="#839594"/>
                        <path d="M36.315,2.52C35.979,1.937,35.534,1.43,35,1.025C34.162,0.391,33.13,0,32,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C30.796,2.192,31.376,2,32,2s1.204,0.192,1.685,0.52C34.478,3.061,35,3.97,35,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C37,4.093,36.739,3.254,36.315,2.52z" fill="#AFB6BB"/>
                        <path d="M21.685,2.52C21.261,3.254,21,4.093,21,5h2C23,3.97,22.478,3.061,21.685,2.52z" fill="#839594"/>
                        <path d="M30.315,2.52C29.979,1.937,29.534,1.43,29,1.025C28.162,0.391,27.13,0,26,0s-2.162,0.391-3,1.025  c0.534,0.405,0.979,0.912,1.315,1.495C24.796,2.192,25.376,2,26,2s1.204,0.192,1.685,0.52C28.478,3.061,29,3.97,29,5  c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1s0.447,1,1,1c2.757,0,5-2.243,5-5C31,4.093,30.739,3.254,30.315,2.52z" fill="#AFB6BB"/>
                        <path d="M24.315,2.52C23.979,1.937,23.534,1.43,23,1.025C22.162,0.391,21.13,0,20,0c-2.757,0-5,2.243-5,5h2  c0-1.654,1.346-3,3-3c0.624,0,1.204,0.192,1.685,0.52C22.478,3.061,23,3.97,23,5c0,1.654-1.346,3-3,3c-0.553,0-1,0.447-1,1  s0.447,1,1,1c2.757,0,5-2.243,5-5C25,4.093,24.739,3.254,24.315,2.52z" fill="#AFB6BB"/>
                        <rect x="1" y="18" width="56" height="40" fill="#EDEADA"/>
                        <circle cx="13" cy="29" r="5" fill="#CEC9AE"/>
                        <circle cx="29" cy="29" r="5" fill="#CEC9AE"/>
                        <circle cx="45" cy="29" r="5" fill="#CEC9AE"/>
                        <circle cx="13" cy="45" r="5" fill="#CEC9AE"/>
                        <circle cx="29" cy="45" r="5" fill="#CEC9AE"/>
                        <circle cx="45" cy="45" r="5" fill="#26B99A"/>
                        </svg>15 July 2016,</span> <span>
                        
                        <svg enable-background="new 0 0 58 58" version="1.1" viewBox="0 0 58 58" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="29" cy="29" r="29" fill="#E7ECED"/>
                        <path d="M29,4c13.785,0,25,11.215,25,25S42.785,54,29,54S4,42.785,4,29S15.215,4,29,4 M29,0  C12.984,0,0,12.984,0,29s12.984,29,29,29s29-12.984,29-29S45.016,0,29,0L29,0z" fill="#424A60"/>
                        <g fill="#7383BF"><path d="m29 5.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z"/><path d="m29 48.879c-0.552 0-1 0.447-1 1v1c0 0.553 0.448 1 1 1s1-0.447 1-1v-1c0-0.553-0.448-1-1-1z"/>
                            <path d="m51 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z"/>
                            <path d="m8 27.879h-1c-0.552 0-1 0.447-1 1s0.448 1 1 1h1c0.552 0 1-0.447 1-1s-0.448-1-1-1z"/>
                            <path d="m43.849 12.615-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.023-0.391-1.414 0z"/>
                            <path d="m13.444 43.021-0.707 0.707c-0.391 0.391-0.391 1.023 0 1.414 0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293l0.707-0.707c0.391-0.391 0.391-1.023 0-1.414s-1.024-0.39-1.414 0z"/>
                            <path d="m44.556 43.021c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z"/>
                            <path d="m14.151 12.615c-0.391-0.391-1.023-0.391-1.414 0s-0.391 1.023 0 1.414l0.707 0.707c0.195 0.195 0.451 0.293 0.707 0.293s0.512-0.098 0.707-0.293c0.391-0.391 0.391-1.023 0-1.414l-0.707-0.707z"/></g>
                        <line x1="26" x2="18" y1="28.879" y2="28.879" fill="none" stroke="#424A60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                        <line x1="29" x2="29" y1="25.879" y2="14.879" fill="none" stroke="#424A60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                        <circle cx="29" cy="28.879" r="3" fill="none" stroke="#424A60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                        </svg>7pm - 10pm, </span><a class="location-pop-btn"><span class="animated flash infinite"><i class="fa fa-map-marker"></i></span ><span class="destination-address event-address" data-lat="19.072723" data-long="72.900152">Sanoor banquet, C/O Rehaja Club House, Near R City Mall, Next To Kalpatru, L B S Marg, Ghatkopar West, Mumbai - 400086,</span></a>
                            </p>
-->
